asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3.1
Flask==1.0.2
Flask-JSONLocale==1.6
flask-mwoauth==0.3.61
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mwoauth==0.3.2
mwparserfromhell==0.5.1
oauthlib==2.1.0
pycparser==2.19
PyJWT==1.6.4
PyMySQL==0.9.2
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
simplejson==3.16.0
six==1.11.0
toolforge==4.1.0
urllib3==1.23
Werkzeug==0.15.3
