
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Weapon of Mass Description</title>
		<!-- External CSS -->
		<link rel="stylesheet" href="{{config.STATIC_URL}}material-icons.css">
		<link rel="stylesheet" href="{{config.STATIC_URL}}sweetalert.min.css">
		<link rel="stylesheet" href="{{config.STATIC_URL}}materialize.min.css">

		<!-- My CSS -->
		<link rel="stylesheet" href="{{config.STATIC_URL}}stylesheet.css">

		<!-- External JS -->
		<script src="{{config.STATIC_URL}}jquery.min.js" charset="utf-8"></script>
		<script src="{{config.STATIC_URL}}sweetalert.min.js"></script>

		<!-- My JS -->
		{% if logged %}
		<script src="{{config.STATIC_URL}}all.js" charset="utf-8"></script>
		{% endif %}
	  {% block head %}{% endblock %}
	</head>
	<body>
				{% if logged %}
				<nav class="light-blue lighten-1" role="navigation">
					<div class="nav-wrapper container">
						<a class="brand-logo" href="/weapon-of-mass-description">WMD</a>
						<ul class="right hide-on-med-and-down">
							<li><a href="users">{{_('users')}}</a></li>
							<li><a href="settings">{{_('settings')}}</a></li>
							<li><a href="logout">{{_('logout')}}</a></li>
							<li id="username">{{username}}</li>
							<li><a href="https://gerrit.wikimedia.org/r/p/labs/tools/weapon-of-mass-description">{{_('source')}}</a></li>
						</ul>
					</div>
				</nav>
				{% else %}
				<nav class="light-blue lighten-1" role="navigation">
					<div class="nav-wrapper container">
						<a class="brand-logo" href="/commons-mass-description">WMD</a>
						<ul class="right hide-on-med-and-down">
							<li><a href="users">{{_('users')}}</a></li>
							<li><a href="login">{{_('login')}}</a></li>
							<li><a href="https://gerrit.wikimedia.org/r/p/labs/tools/weapon-of-mass-description">{{_('source')}}</a></li>
						</ul>
					</div>
				</nav>
				{% endif %}
        {% block body %}{% endblock %}
	</body>
</html>
