{% extends 'base.html' %}

{% block head %}
<!-- My JS -->
<script src="{{config.STATIC_URL}}all.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="container">
	<form method="post">
		<label for="title">Summary of your problem</label><br>
		<input type="text" name="title" id="title" value="">
		<label for="body">Detailed information about your problem</label><br>
		<textarea name="body" class="materialize-textarea" rows="8" cols="80"></textarea>
		<button type="submit" class="btn btn-primary" id="submit">Submit</button>
	</form>
</div>
{% endblock %}
