{% extends 'base.html' %}
{% block head %}
<script src="{{config.STATIC_URL}}settings.js" charset="utf-8"></script>
{% endblock head %}
{% block body %}
<div class="container">
	<h1>Your settings</h1>
	<form id="settings">
		<label for="suggestitems">How many items should be suggested by default?</label>
		<input type="number" name="suggestitems" value="{{suggestitems}}">
		<label for="openlinksinnewtab">Should be new links opened in new browser tab?</label>
		<input type="checkbox" name="openlinksinnewtab" value="1"><br>
		<label for="atleastonelang">Should be always at least one language displayed?</label>
		<input type="checkbox" name="atleastonelang" value="1"><br>
		<label for="optinoverride">Do you want to allow the tool to override existing labels&amp;descriptions?</label>
		<input type="checkbox" name="optinoverride" value="1">
	</form>
</div>
{% endblock %}
