{% extends 'base.html' %}

{% block head %}
<script src="{{config.STATIC_URL}}tool.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <form class="col s12">
            <div class="row">
                <h5>What language you want to fill labels&amp;descriptions in?</h5>
                <select class="browser-default" id="langs">
                </select>
								<h5>What languages do you understand?</h5>
								<p>That's important for knowing which labels&amp;descriptions should be displayed to you.</p>
								<textarea id="spokablelangs" class="materialize-textarea" rows="8" cols="80"></textarea>
								<h5>List of items to be described</h5>
                                <textarea id="items" class="materialize-textarea" rows="15" cols="80"></textarea>
                                <div class="row">
                                    <div class="col s6">
                                        <button onclick="fillItems()" class="btn wafes-effect wafes-light" type="button" id="search">Load items</button>
                                        <button type="button" class="btn wafes-effect wafes-light" onclick="suggestItems()">Suggest some items</button>
                                    </div>
                                    <div class="col s6">
                                        <input type="number" id="loaditems" min="1" max="100" value="10">
                                    </div>
                                </div>
            </div>
        </form>
    </div>

    <table class="bordered">
        <thead>
            <tr>
                <th>QID</th>
                <th>New label</th>
                <th>new description</th>
                <th>Wikipedia article</th>
								<th>Automated description</th>
                <th>Old label</th>
                <th>Old description</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
		<button onclick="sendForm()" class="btn wafes-effect wafes-light" id="send" disabled="">Send</button>
</div>
{% endblock %}
