{% extends 'base.html' %}

{% block head %}
<script src="{{config.STATIC_URL}}tool.js" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <form class="col s12">
            <div class="row">
                <h5>Which language do you want to fill labels&amp;descriptions in? (mandatory)</h5>
                <select class="browser-default" id="langs">
                </select>
								<h5>Which languages do you understand? (optional)</h5>
								<p>That's important for knowing which labels&amp;descriptions should be displayed to you.</p>
								<p>If you don't fill anything into this field, we'll display to you English, German and French labels&amp;descriptions. </p>
								<textarea id="spokablelangs" class="materialize-textarea" rows="8" cols="80" placeholder="One language per line please. Enter language codes. Valid input: en, de, fr. "></textarea>
								<h5>List of items to be described (mandatory)</h5>
								<p>You can generate a list of items without labels by using any other tool you know. But, if you just want to fill labels, you can also use the button "Suggest some items" which will find some unlabeled items for you. </p>
                <textarea id="items" class="materialize-textarea" rows="15" cols="80" placeholder="ID of items that you want to add labels and descriptions to. One item per line please. Valid input: Q1, Q213, Q42"></textarea>
                <div class="row">
                    <div class="col s6">
                        <button onclick="fillItems()" class="btn wafes-effect wafes-light" type="button" id="search">Load items</button>
                        <button type="button" class="btn wafes-effect wafes-light" onclick="suggestItems()">Suggest some items</button>
                    </div>
                    <div class="col s6">
                        <input type="number" id="loaditems" min="1" max="100" value="{{ settings.suggestitems }}">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <table class="bordered">
        <thead>
            <tr>
                <th class="col-sm-1">QID</th>
                <th class="col-sm-2">New label</th>
                <th class="col-sm-2">New description</th>
                <th class="col-sm-1">Wikipedia article</th>
                <th class="col-sm-1">Automated description</th>
                <th class="col-sm-1">Old label</th>
                <th class="col-sm-1">Old description</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
		<button onclick="sendForm()" class="btn wafes-effect wafes-light" id="send" disabled="">Save changes</button>
</div>
{% endblock %}
