{% extends 'base.html' %}

{% block body %}
<div class="container">
	<h1>{{locale['all-users']}}</h1>
  <table>
    <thead>
      <tr>
        <th>{{locale['username']}}</th>
        <th>{{locale['total-edits']}}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        {% for item in user %}
        <td>{{item}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
		<tfoot>
			<tr>
				<td>{{locale['total']}}</td>
				<td>{{total}}</td>
			</tr>
		</tfoot>
  </table>
</div>
{% endblock %}
